(
    name: "Testing",
    description: Some("This is a test"),
    version: "1.0.0",
    units: Metric,
    component_references: [
        (
            path: "components/test_comp_1_rev_a.ron",
        ),
        (
            path: "components/test_comp_2_rev_b.ron",
        ),
    ],
    analyses: [
        (
            path: "analyses/stackups/ad833969-bf82-4a8f-8ab1-575d429ceda0/analysis.ron",
            analysis_type: "stackup",
        ),
    ],
)